* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.center {
  max-width: 1300px;
  margin: 0 auto;
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("fonts/sourcesanspro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("fonts/sourcesanspro/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("fonts/sourcesanspro/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("fonts/roboto/Roboto-Light.ttf");
}
._name {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

header.page-header {
  padding-top: 80px;
  padding-bottom: 250px;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

._name {
  color: #fff;
  text-align: center;
  font-family: "Source Sans Pro Semibold";
  font-size: 21px;
}

.header-name {
  margin-bottom: 200px;
}

div.header-text {
  max-width: 530px;
  text-shadow: 0px 0px 100px #000;
}
div.header-text h1 {
  line-height: 57px;
  margin-bottom: 20px;
}
div.header-text h1 span {
  color: #fff;
  display: block;
  font-family: "Roboto Bold";
  font-size: 63px;
}
div.header-text h1 .upper-header-text {
  color: #b7b7b7;
  font-size: 23px;
}
div.header-text p {
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

section.gallery {
  padding: 60px 0;
}
section.gallery div.gallery-inside {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1000px;
}

header.gallery-text {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin-bottom: 55px;
  font-family: "Roboto Light";
  align-items: center;
}
header.gallery-text p {
  font-size: 13px;
  max-width: 80%;
  line-height: 20px;
}
header.gallery-text h1 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1.2px;
}

div.gallery-left {
  position: absolute;
  top: -135px;
  right: 0;
}

section.banner {
  padding: 100px 0;
  background: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.gallery-text {
  text-align: center;
  color: #fff;
  font-family: "Roboto Light";
  min-width: 620px;
}
div.gallery-text h1 {
  font-size: 23px;
  font-weight: normal;
  display: inline-block;
  padding: 9px 17px;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
div.gallery-text p {
  font-size: 16px;
  line-height: 26px;
}

section.statistics {
  padding-top: 75px;
  padding-bottom: 130px;
}

header.statistics-header {
  font-family: "Roboto Light";
  margin-bottom: 75px;
}
header.statistics-header h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1.2px;
  font-weight: normal;
}

div.statistics-text {
  font-family: "Roboto Light";
  margin-bottom: 35px;
}
div.statistics-text h1 {
  font-size: 30px;
  letter-spacing: 1.2px;
  font-weight: normal;
  font-family: "Roboto Light";
  margin-bottom: 20px;
}
div.statistics-text p {
  line-height: 25px;
  font-size: 17px;
  text-align: justify;
}

div.statistics-block {
  background: #f5f5f5;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
}
div.statistics-block div.statistic-item p {
  text-align: center;
}
div.statistics-block div.statistic-item p span {
  display: block;
}
div.statistics-block div.statistic-item p span:first-child {
  margin-bottom: 8px;
  font-family: "Roboto Medium";
  font-size: 28px;
  letter-spacing: 1.12px;
}
div.statistics-block div.statistic-item p span:last-child {
  font-family: "Roboto Regular";
  font-size: 20px;
}

section.video {
  padding: 115px 0 105px 0;
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section.video header.video-header {
  color: #fff;
  text-align: center;
  font-family: "Roboto Light";
  margin-bottom: 90px;
}
section.video header.video-header h1 {
  font-size: 23px;
  font-weight: normal;
  display: inline-block;
  padding: 9px 17px;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
section.video header.video-header p {
  font-size: 16px;
  line-height: 26px;
}
section.video div.video-block {
  background: #282828;
  padding: 300px 370px;
  position: relative;
  margin-bottom: 115px;
}
section.video div.video-block img {
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
}
section.video p._name {
  font-size: 23px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
